.yogiMobileLogo {
  height: 110px;
  width: 190px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media (max-width: 1280px) {
  .fbIcon {
    margin-left: 15px !important;
  }
}
.menuDeskWidth {
  width: 330px;
  position: fixed;
  z-index: 10;
}
.menuFont {
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #808080;
  cursor: pointer;
}
.menuFont:hover {
  color: #252323;
}
.textAlignEnd {
  text-align: end;
}
.yogiLogo {
  height: 110px;
  width: 190px;
  display: block;
  margin-left: auto;
  margin-right: 60px;
  margin-bottom: 30px;
  margin-top: 15px;
}
.placeboClass {
  display: block;
}
.arrowRight {
  width: 10px;
  margin-right: -13px;
  margin-left: 2px;
}
.arrowMobile {
  width: 10px;
  margin-left: 65%;
}
.showme {
  display: none;
}
.showhim:hover .showme {
  display: block;
}
.showhim:hover .hideme {
  display: none;
  -webkit-animation: seconds;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
  animation: seconds;
  animation-iteration-count: 1;
  animation-duration: 2s;
  position: relative;
}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
    position: absolute;
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
    position: absolute;
  }
}
.menuExtended {
  position: fixed;
  margin-top: -38px;
  left: 288px;
  background-color: #fff;
  height: 45px;
  border-radius: 2px;
  padding: 20px;
}
.menuExtended:hover {
  display: block !important;
}
.mTopExtMenu {
  margin-top: 12px;
  margin-bottom: 2px;
}
.inheritWidth:hover {
  background-color: black;
}
.active {
  width: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: black;
}
.titleFontSize {
  font-size: 25px;
  margin-top: -5px;
}
.titleLg {
  padding-top: 9px;
  height: 40px;
  background-color: #92093c;
  padding-bottom: 1px;
  position: fixed;
  width: inherit;
}
.backtestCount {
  padding-top: 60px;
  background-color: #272632;
  font-size: 13px;
}
.subMenuMobile {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.fbIcon {
  margin-left: 120px;
  margin-right: 10px;
}
.mRL10 {
  margin-left: 10px;
  margin-right: 10px;
}
