.yogiMobileLogo {
  height: 110px;
  width: 190px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.headerBottom {
  margin-bottom: -50px;
}
@media (max-width: 600px) {
  .MuiDrawer-paperAnchorRight {
    width: 75% !important;
  }
}
.MuiDrawer-paperAnchorRight {
  left: auto;
  right: 0;
  width: 33%;
  background-color: #fff6f6 !important;
}
.headerBody {
  position: fixed;
  width: 100%;
  height: 48px;
  z-index: 1;
}
.headerMarTop {
  margin-top: 55px;
}
.hambMarLeft {
  margin-left: 18px;
  cursor: pointer;
}
.hambMenu {
  border-top: 1px solid gainsboro;
  width: 88%;
  margin-left: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
}
