.imgWidth {
  width: 100%;
  height: auto;
}
.h1Text{
  font-size: 35px;
}
.h1Mtop{
  margin-top: 60px;
}
.homeBody {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 40px;
}
@media (min-width: 1280px) {
  .homeBody {
    margin-right: 50px !important;
    margin-left: 70px;
  }
}
@media (min-width: 2200px) {
  .homeBody {
    margin-left: 25px;
  }
}
@media (max-width: 900px) {
  .bottomCentre {
    position: absolute;
    width: 100%;
    margin-top: -19px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: #000000;
    padding: 10px 0 10px 0;
    background-color: rgba(255, 255, 255, 0.6);
    letter-spacing: 1px;
  }
  .h1Text{
    font-size: 18px !important;
  }
}
@media (min-width: 900px) {
  .bottomCentre {
    position: absolute;
    width: 100%;
    margin-top: -38px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #000000;
    padding: 20px 0 20px 0;
    background-color: rgba(255, 255, 255, 0.6);
    letter-spacing: 1px;
  }
}
.imgContainer {
  position: relative;
  text-align: center;
  color: white;
}
.margin5 {
  margin: 5px;
}
.imgWidth98 {
  width: 98%;
}
.mBot5 {
  margin-bottom: 5px;
}
.mRight5 {
  margin-right: 5px;
}
.mLeft5 {
  margin-left: 5px;
}
