body {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: "Libre Baskerville", serif;
}
.hand {
  cursor: pointer;
}
@media (max-width: 900px) {
  .pLeftRight15 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .contentText {
    width: 100% !important;
    font-size: 16px !important;
  }
  .borderLine {
    width: 100% !important;
  }
  .contentImg {
    width: 100% !important;
  }
}
.pLeftRight15 {
  padding-right: 0;
  padding-left: 0;
}
.contentSubHeader {
  margin-top: -20px;
  color: #bb9369;
  letter-spacing: 1px;
}
.yellowColor {
  color: #bb9369 !important;
}
.contentImg {
  width: 65%;
}
.contentText {
  color: #808080;
  width: 65%;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: -5px;
}
.borderLine {
  border-top: 1px solid #dddddd;
  width: 65%;
  margin-top: 25px;
  margin-bottom: 25px;
}
.displayNone {
  display: none !important;
}
.displayFlex {
  display: flex !important;
}
