.yogiColor {
  color: #cc9966;
  font-weight: 800;
  margin-bottom: 20px;
}
.footerText {
  color: #808080;
}
@media (max-width: 600px) {
  .footerSignature {
    font-size: 14px !important;
  }
  .contactBtn {
    font-size: 15px !important;
  }
}
.footerSignature {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.45;
  margin-top: 20px;
  font-weight: 700;
  color: #746767;
}
.mBot50 {
  margin-bottom: 50px;
}
.contactBtn {
  color: #fff;
  border-color: #bb9369;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 2% 15%;
  border-radius: 0px;
  margin-top: 40px;
  background-color: rgb(187, 147, 105);
  padding: 25px 35px;
}
.contactBtn:hover {
  background-color: rgb(39, 37, 35) !important;
}
