@media (max-width: 900px) {
  .sideGap {
    margin-left: 15px !important;
  }
}
@media (max-width: 600px) {
  .textFieldBody {
    width: 90% !important;
  }
}
.mLeft15 {
  margin-left: 15px;
}
.sideGap {
  margin-left: 20%;
}
.textFieldMBot {
  margin-bottom: 15px;
}
.mTop30 {
  margin-top: 30px;
}
.textFieldBody {
  width: 40%;
}
.wordsRem {
  margin-left: 30%;
  margin-top: -12px;
  color: #877e7e;
}
