@media (max-width: 600px) {
  .imgGridTwo {
    width: 100% !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .imgGridLandscapeTwo {
    width: 100% !important;
  }
}
.imgGrid {
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
}
.imgGridLandscape {
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
}
.imgGridTwo {
  width: 92%;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
.imgGridLandscapeTwo {
  width: 92%;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
.mBot10 {
  margin-bottom: 10px;
}
.mBot14 {
  margin-bottom: 14px;
}
.slideImageBodyMobile {
  height: auto;
  width: 100%;
}
.slideImageBody {
  height: 40em;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.closeSlide {
  margin-top: 20px;
  color: #bb9369;
}
.arrowContainer {
  height: auto;
  position: relative;
}
.verticalCenter {
  margin: 0;
  color: #bb9369;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1200;
  margin-left: -15px;
}
.phantomInput{
  width: 0;
  border: 0;
}
textarea:focus, input:focus{
  outline: none;
}
#main {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 100px;
}
.imgBoxShadow{
  box-shadow: 112px 0px 50px 500px gainsboro;
  margin-bottom: 40px;
}
